[Unit]
Description=cookie server

After=docker.service
Requires=docker.service 


[Service]
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name=%p \
    --add-host="es:$(/usr/bin/contnet ip es)" \
    -e "BASE_URL=http://cookie.eztwo.com" \
    -e "PICTURES_PATH=/cookie/pics" \
    -e "ES_HOST=es:9242" \
    -v /srv/data/cookie/pics:/cookie/pics \
    registry.eztwo.com:5042/cookieserver \
  '

ExecStartPost=/usr/bin/contnet attach %p 192.168.42.20/24 42-BE-EF-42-00-20

ExecStop=/usr/bin/docker stop %p

Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multiuser.target
