[Unit]
Description=elasticsearch database

After=docker.service
Requires=docker.service 


[Service]
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name=%p \
    -e "ES_HEAP_SIZE=1024m" \
    -e "ES_JAVA_OPTS=-server" \
    -v /usr/serverconf/es/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml \
    -v /usr/data/es:/es \
    marcarudolph/es \
  '

ExecStartPost=/usr/bin/contnet attach %p 192.168.42.10/24 42-BE-EF-42-00-10

ExecStop=/usr/bin/docker stop %p

Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multiuser.target
