[Unit]
Description=nginx server

After=docker.service
Requires=docker.service 


[Service]
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name=%p \
    -v /var/log/nginx:/var/log/nginx \
    -v /usr/serverconf/nginx/cfg/:/etc/nginx/conf.d/ \
    -v /usr/serverconf/nginx/html:/var/www/html \
    -v /etc/letsencrypt/:/etc/letsencrypt/ \
    -v /srv/data/cookie/pics:/cookie/pics \
    --add-host="es:$(contnet ip es)" \
    --add-host="cookie:$(contnet ip cookie)" \
    --add-host="registry:$(contnet ip cookie)" \
    --add-host="wp-wedding:$(contnet ip wp-wedding)" \
    -p 80:80 \
    -p 443:443 \
    -p 5042:5042 \
    -p 9243:9243 \
    nginx:1.9 \
  '

ExecStartPost=/usr/bin/contnet attach %p 192.168.42.1/24 42-BE-EF-42-00-01

ExecStop=/usr/bin/docker stop %p

Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multiuser.target
