[Unit]
Description=logstash

After=docker.service
Requires=docker.service 


[Service]
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name=%p \
    -v /var/log/logstash:/var/log/logstash \
    -v /var/log/nginx:/var/log/nginx \
    --add-host="es:$(contnet ip es)" \
    registry.eztwo.com:5042/logstash \
  '

ExecStartPost=/usr/bin/contnet attach %p 192.168.42.99/24 42-BE-EF-42-00-99

ExecStop=/usr/bin/docker stop %p

Restart=on-failure
RestartSec=5s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multiuser.target
